In [1]:
a = 5
print(a)

5

In [2]:
a = 5
print(a)
print(type(a))

5
<class 'int'>

In [3]:
a = 5
print(a)
print(type(a))

a = 5.5
print(a)
print(type(a))

a = "India"
print(a)
print(type(a))

5
<class 'int'>
5.5
<class 'float'>
India
<class 'str'>

In [4]:
s = "Bangalore's"

In [5]:
#List

In [6]:
l1 = [5, 10, 15, -300, "India", "Bangalore", 739879832789]

In [7]:
len(l1)

7

In [8]:
max(l1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [13]:
l2 = [5, 10, 20, 1000, 10, 5]

In [10]:
max(l2)

1000

In [11]:
min(l2)

5

In [14]:
l2.index(10)

1

In [15]:
l2.count(5)

2

In [16]:
l2.count(50)

0

In [17]:
l2.index(50)

ValueError: 50 is not in list

In [24]:
l3 = [2343, 4324, 54, 54, 9909, 1002, 433, 100]

In [21]:
l3.sort(reverse=True)

In [22]:
l3

[9909, 4324, 2343, 1002, 433, 100, 54, 54]

In [25]:
l3.reverse()

In [26]:
l3

[100, 433, 1002, 9909, 54, 54, 4324, 2343]

In [27]:
l3.append("Aqib")

In [28]:
l3

[100, 433, 1002, 9909, 54, 54, 4324, 2343, 'Aqib']

In [29]:
l3

[100, 433, 1002, 9909, 54, 54, 4324, 2343, 'Aqib']

In [30]:
l3.insert(3, "India")

In [31]:
l3

[100, 433, 1002, 'India', 9909, 54, 54, 4324, 2343, 'Aqib']

In [39]:
names_and_ages = {
    'Raj' : 20,
    'Ram' : 30,
    'Rakesh' : 40,
    'Rajesh' : 50,
}

In [35]:
d2 = {
    10 : 20,
    "Aqib" : "Ahmed",
    "India"  : 1,
    1 : "India",
    33.33 : "Bangalore"
}

In [36]:
d1['Raj']

20

In [37]:
d1['Rakesh']

40

In [38]:
d1[40]

KeyError: 40

In [40]:
names_and_ages = {
    'Raj' : 20,
    'Ram' : 30,
    'Rakesh' : 40,
    'Rajesh' : 50,
}

names_and_ages['Ram'] = 90
print(names_and_ages)

{'Raj': 20, 'Ram': 90, 'Rakesh': 40, 'Rajesh': 50}

In [41]:
names_and_ages['Ramu'] = 75

In [42]:
print(names_and_ages)

{'Raj': 20, 'Ram': 90, 'Rakesh': 40, 'Rajesh': 50, 'Ramu': 75}

In [43]:
del names_and_ages['Raj']

In [44]:
names_and_ages

{'Ram': 90, 'Rakesh': 40, 'Rajesh': 50, 'Ramu': 75}

In [46]:
l3 = []
l4 = []

l3.append(5)
l3.append(10)
l3.append(15)

l4.append(20)
l4.append(25)
l4.append(30)

l3.append(l4)

print(l3)

[5, 10, 15, [20, 25, 30]]

In [48]:
l3[3][1]

25

In [49]:
a = 5
print(a)

5

In [50]:
username = input()
age = input()
print(username)
print(age)

Aqib
10
Aqib
10

In [51]:
username = input("Enter your name : ")
age = input("Enter your age : ")
print(username)
print(age)

Enter your name : Aqib
Enter your age : 25
Aqib
25

In [52]:
username = input("Enter your name : ")
age = input("Enter your age : ")
print("Your name is ",username)
print("Your age is ",age)

Enter your name : Aqib
Enter your age : 25
Your name is  Aqib
Your age is  25

In [53]:
username = input("Enter your name : ")
print("Your name is ",username, "and its type is ",type(username))
age = input("Enter your age : ")

print("Your age is ",age, "and its type is ",type(age))

Enter your name : Aqib
Your name is  Aqib and its type is  <class 'str'>
Enter your age : 25
Your age is  25 and its type is  <class 'str'>

In [54]:
username = input("Enter your name : ")
print("Your name is ",username, "and its type is ",type(username))
age = int(input("Enter your age : "))
print("Your age is ",age, "and its type is ",type(age))

Enter your name : Aqib
Your name is  Aqib and its type is  <class 'str'>
Enter your age : 25
Your age is  25 and its type is  <class 'int'>

In [55]:

username = int(input("Enter your name : "))
print("Your name is ",username, "and its type is ",type(username))
age = int(input("Enter your age : "))
print("Your age is ",age, "and its type is ",type(age))

Enter your name : Aqib

ValueError: invalid literal for int() with base 10: 'Aqib'

In [57]:
t1 = (5, 10, 15, 20)

In [58]:
t1

(5, 10, 15, 20)

In [59]:
print(type(t1))

<class 'tuple'>

In [61]:
l5 = list(t1)

In [62]:
l5.append(100)

In [63]:
t1 = tuple(l5)

In [64]:
t1

(5, 10, 15, 20, 100)

In [1]:
d1 = {
    'Raj' : 10,
    'Ram' : 20,
    'Rakesh' : 30,
}

In [5]:
if 'Raj' in list(d1.keys()):
    print("Yes")

Yes

In [6]:
d1['Ramesh']

KeyError: 'Ramesh'

In [10]:
name = input("Enter your name : ")
age = int(input("Enter your age : "))

if name == 'Sachin' and age == 25:
    print("Both name and age matches")

elif name == 'Sachin' and age != 25:
    print("Only name matches")
    
elif name != 'Sachin' and age == 25:
    print("Only age matches")
    
else:
    print("Neither matches")

Enter your name : Sachin
Enter your age : 25
Both name and age matches

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
for i in range(5, 20, 2):
    print(i)

5
7
9
11
13
15
17
19

In [14]:
for i in range(10, 3):
    print(i)

In [18]:
for i in range(10, 3, -1):
    print(i)

10
9
8
7
6
5
4

In [22]:
l1 = [5, 10, 25, 30, 35, 40, 50]
d1 = {
    'Raj' : 20,
    'Ram' : 30,
    'Rajesh' : 40,
}

In [24]:
for i in l1:
    print(i)

5
10
25
30
35
40
50

In [25]:
for i in l1:
    print(l1[i])

40

IndexError: list index out of range

In [27]:
for i in d1:
    print(i)

Raj
Ram
Rajesh

In [28]:
for i in d1.values():
    print(i)

20
30
40

In [29]:
for i in d1.items():
    print(i)

('Raj', 20)
('Ram', 30)
('Rajesh', 40)

In [30]:
for i in d1.items():
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [33]:
a = [5, 30]
print(type(a))

<class 'list'>

In [36]:
i = 1
while i < 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9

In [37]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
for i in range(10):
    print(i)
    if i == 5:
        print("Yes")

0
1
2
3
4
5
Yes
6
7
8
9

In [39]:
for i in range(10):
    print(i)
    if i == 5:
        print("Yes")
        break

0
1
2
3
4
5
Yes

In [40]:
for i in range(10): 
    if i == 5:
        print("Yes")
    print(i)

0
1
2
3
4
Yes
5
6
7
8
9

In [41]:
for i in range(10): 
    if i == 5:
        print("Yes")
        continue
    print(i)

0
1
2
3
4
Yes
6
7
8
9

In [42]:
for i in range(5):

SyntaxError: unexpected EOF while parsing (<ipython-input-42-aa82eeb25f1e>, line 1)

In [43]:
for i in range(5):
    pass